<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card">
          <%= render 'teams/comparetable', {team: @team1,entries:@entries1,honours:@honours1,entry_list:@current_charge.entries,position: '1'} %>
      </div>

    </div>
    <div class="col-md-4">
      <div class="card">
          <%= render 'teams/comparetable', {team: @team2,entries:@entries2,honours:@honours2,entry_list:@current_charge.entries,position: '2'} %>
      </div>
    </div>
  </div>
</div>