<%= render 'photos/photomodal' %>

<div class="row">
  <% @teams.each_with_index do |team,i| %>
      <div class="col-xs-12 col-sm-6 col-md-3 ">
        <%= render :partial => '/teams/teamcard', :locals => {:team=> team}  %>
      </div>
      <% if (i+1)%4==0 %>
        </div>
          <div class="clearfix hidden-sm-up"></div>
        <div class="row">
      <% end %>
  <% end %>
</div>