


<div id="fb-page" class="fb-page" data-href="<%= @ben.facebook %>" data-tabs="timeline" data-width="400" data-height="600" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
  <blockquote cite="<%= @ben.facebook %>" class="fb-xfbml-parse-ignore">
    <a target="_blank" href="<%= @ben.facebook %>"><%= @ben.name %></a></blockquote>
</div>
