
<a target="_blank" href="https://www.gofundme.com/f/the-bomber-elephant-charge-team">
The Bomber are using <b>gofundme</b> to collect donations for their team. Visit their gofundme page by clicking here to make a donation.
</a>