<p><b>Dear All,</b></p>
<p>2017, Elephant Charge ten year anniversary…a year to really make a difference for our Zambian Wildlife. Please feel
  free to go through our 10 year journey below. Khal Amazi is a very dedicated team and takes this Challenge very
  seriously for the good of our country’s conservation. It would be great if you could be part of our challenge this year
  through your very kind and continued financial support.</p>
<p>For those of you who are not aware the main purpose of the event is to raise money through sponsorship and try and
  have a bit of fun while doing it. As you will see below over the years we have been fortunate to have huge support
  both locally and abroad and for this we are very grateful. We would really like to up the tempo this year being the
  tenth anniversary so your support no matter how big or small would be greatly appreciated.
  As you will notice there is a paypal account on this webpage that goes directly into the Elephant Charges charity fund
  and will be earmarked for Team Khal Amazi so you could go through by these means or you could contact Anél Minnar on
  supply@khalamazi.com or +26 0965 740 082</p>
<p>From all involved with Car # 7 Team<b> Khal Amazi </b>we would like to send you a heartwarming thank you and hope you
  can part of our team.</p>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <img src='/system/teams/khalamazi/gf.jpg'>
    </div>
    <div class="col">
      <img src='/system/teams/khalamazi/greenyard.jpg'>
    </div>
    <div class="col">
      <img src='/system/teams/khalamazi/zandbergen.jpg'>
    </div>
    <div class="col">
      <img src='/system/teams/khalamazi/omnia.jpg'>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img width="120" src='/system/teams/khalamazi/precision.jpg'>
    </div>
    <div class="col">
      <img height="60" src='/system/teams/khalamazi/superflora.jpg'>
    </div>

  </div>
</div>



