

<div class="modal" id="imageModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 id="modalTitle"/>
      </div>
      <div class="modal-body">
        <img id="modalImageElement" src="assets/clear.gif" style="margin:auto;display:block;background: url(assets/loading.gif) 50% no-repeat;"/>
      </div>
    </div>
  </div>
</div>