<div class="image-container">
  <a onclick="showModal(this)" data-image="<%= photo[:url_original]%>" data-description="<%= photo[:description]%>">
    <%= image_tag photo[:url_medium],:class=>'rounded' %>
  </a>
</div>