<div class="image-container">
  <% if photo %>
  <div style="cursor: pointer;" onclick="showModal(this)" data-image="<%= photo.photo(:original)%>" data-description="<%= photo.caption%>">
    <img src="<%= image_path(photo.photo(:medium))%>" class="rounded mx-auto d-block" />
  </div>
  <% else %>
      <img src="<%= image_path('logo/eclogo_orange.png')%>" style="width:35%" class="rounded mx-auto d-block" />
  <% end %>
</div>