$font-size-base: 0.9rem;
$brand-primary: #df5409; //#cebc63;

$dark: #555555;
$brand-inverse: $dark;
$light: #eeeeee;
$grid-gutter-width-base: 15px;

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(/montserrat.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@import "bootstrap";
@import "leaflet";
@import "unslider";
@import "unslider-dots";

@import "header";
@import "footer";
@import "home";

@import "beneficiaries";
@import "charges";
@import "teams";
@import "entries";
@import "photo";
@import "privacy";


.map_tooltip {
  padding: 1px;
  font-size: 0.675rem;
  font-weight: bold;
}

.image-container img {
  margin: auto;
  display: block;
  max-width: 100%;
}
.card {
  margin-bottom: 10px;
}
.card-block {
  padding: 10px;
}

.card-header {
  padding: 0.5rem 0.5rem 0rem 0.5rem;
}




