
.footer {
  font-size: 0.9rem;
  color: white;
}

.contact {
  width: 170px;
  float: left;
  margin-left: 20px;
  margin-bottom: 10px;
}

.contact-head {
  padding-bottom: 2px;
  border-bottom-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.contact-item a {
  color: white;
}

.copyright {
  padding-top: 10px;
  float: left;
  width: 100%;
}