<div style="margin-bottom:5px;display:inline-block;">
  <fb:like href="<%= request.original_url %>" layout="button_count" action="like" size="small" show-faces="false" share="true"></fb:like>
  <!--<div class="fb-like" data-href="<%= request.original_url %>" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>-->
</div>