
<div class="contact">
  <div class="contact-head">
    TELEPHONE
  </div>
  <div class="contact-item">
    +26 0977 720 696
  </div>
</div>
<div class="contact">
  <div class="contact-head">
    EMAIL
  </div>
  <div class="contact-item">
    <a href="mailto:info@elephantcharge.org">info@elephantcharge.org</a>
  </div>
</div>