<div style="font-size: 0.85rem;" class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-10">
      <div class="card">
        <div class="card-header">
          <h4 style="display:inline-block;">Rules and Regulations</h4>
          <a style="float:right;" data-toggle="tooltip" data-placement="top" title="Download Rules and Regulations" target="_blank" href="/system/EC2017_Rules_and_Regs.pdf"><img style="margin-left:10px;" src="<%= image_path('icons/color/map.png') %>"></a>
        </div>
        <div class="card-block">

          <p><b>The Fuchs Elephant Charge 2017</b> is a motor sport event in
            which teams will be required to visit 10 checkpoints while travelling the
            shortest possible distance across difficult, trackless terrain. Speed is not a
            necessity. The event is organised to raise funds to support the activities of
            the Charge Charities.</p>

          <p>The Fuchs Elephant Charge 2017 is organised by <i>Elephant
            Charge Zambia Ltd</i> on a not-for-profit basis.</p>

          <h5>SECRETARY TO THE EVENT</h5>
          <p><b>Julia Tunney</b><br/>
          info@elephantcharge.org<br/>
          Tel: 0977 720 696<br/></p>

          <h5>ORGANISING COMMITTEE</h5>
          <p><b>Peter Castle - Chairman</b><br/>
          Anita Balletto, Nicholas Best, Dave Bosse, Sarah Davies,Andy Fleming, Mike Fleming, Vicky Kelly, Jo Pope, Tom Younger</p>

          <h5>RACE OFFICIALS</h5>
          <p>Clerk of the Course: <b>Peter Castle</b><br/>
          Deputy Clerks of the Course: <b>Mike Fleming, Tom Younger</b>,
            <b>Andy Fleming</b></p>

          <h5>DATES AND TIMES</h5>
          <p><b>Registration and Scrutineering</b>: by 12:00hrs Friday
            13<sup>th</sup> October 2017<br/>

          <b>Driver’s Briefing</b>: 16:00hrs Friday 13<sup>th</sup>
            October 2017<br/>

          <b>Race Start</b>: 07:00hrs Saturday 14<sup>th</sup>
            October<br/>

          <b>Race End</b>: 15:00hrs Saturday 14<sup>th</sup>
            October<br/>

          <b>Prize Giving</b>: 18:00hrs Saturday 14<sup>th</sup>
            October</p>

          <h5>CHARGE VEHICLES</h5>

          <p>The Organisers decision on the eligibility of any vehicle
            will be final.</p>

          <h6>Cars Teams - Eligibility and Equipment</h6>

          <p>The event is open to any vehicle with 4 wheels or more which
            must be roadworthy and safe in the opinion of the scrutineers, EXCEPT that the
            following are specifically excluded:</p>

          <ul>
            <li>Agricultural prime movers or similar vehicles</li>
            <li>Earth moving machines and equipment</li>
            <li>Plant and machinery for construction works</li>
            <li>Tracked vehicles</li>
          </ul>


          <p>The minimum allowed unloaded weight of a vehicle is 500kg. The
            maximum allowed unloaded weight of a vehicle is 3000kg.</p>

          <p>Any tyre and rim size and design is allowed. Studs, chains
            and spikes are prohibited. Each vehicle must be fitted with seat belts (full
            harness recommended) for front seats, and carry a First Aid kit, a Fire
            Extinguisher and a can of fly spray (for bees). These will be checked at
            Scrutineering.</p>

          <p>Each vehicle must carry at least 10 litres of water. It is
            recommended to carry sufficient food for the crew for 24 hours as well as warm
            clothing and blankets. A torch is recommended to enable search parties to
            locate lost vehicles at night. A roll cage is strongly advised.</p>

          <p>Power-driven winches are permitted. GPSs are permitted. Radio
            and mobile phone communication will not be allowed except in emergencies. Any
            competitor who is judged by the Clerk of the Course to have used radios or
            mobile phones will be disqualified.</p>

          <h6>Motorbike Teams - Eligibility and Equipment</h6>

          <p>The event is open to any vehicle with 2 wheels which must be
            roadworthy and safe in the opinion of the scrutineers.</p>

          <p>The minimum allowed engine capacity is 65cc. The maximum
            allowed engine capacity is 850cc. Each bike team must have at least one bike
            fitted with a functional battery and charging system. The GPS Tracking Device
            will be fitted to this bike.</p>

          <p>Power-driven winches are permitted. Each rider must have a
            helmet, eye protection and all other suitable protective equipment. Bikes may
            only carry fuel in fitted fuel tanks. GPSs are permitted. Each bike team must
            carry a First Aid kit to be checked at Scrutineering.</p>

          <p>Each bike team must carry at least 5 litres of water. It is
            recommended to carry sufficient food for the crew for 24 hours as well as warm
            clothing and blankets. A torch is highly recommended to enable search parties
            to locate lost vehicles at night.</p>

          <h6>GPS Tracking Device</h6>

          <p>Each team's performance will be measured by the GPS Tracking
            Device supplied by the organisers. No other instrument will be considered as
            valid when computing final results.</p>

          <p>The GPS Tracking Device and associated equipment provided
            remains the property of Elephant Charge and must be returned to the organisers
            on completion of the event, prior to leaving the Charge.</p>

          <p>Any evidence of damage to the equipment or interference with
            it's sealing will result in exclusion. Entrants will be required to compensate
            Elephant Charge for any damage or loss to the GPS Tracking Device or
            components.</p>

          <h5>ELIGIBLE TEAMS</h5>

          <p>Each team must be either a car team or a motorbike team.</p>

          <p>Entries will only be accepted on full payment (cleared
            funds) of the Entry Fee. Entry will normally be on a first-come-first-served
            basis except that priority may be given to teams who have previously competed
            and those who pledge higher amounts of sponsorship. Entry is at the sole
            discretion of the Secretary to the Event, who may reject an entry without
            giving any reasons.</p>

          <p>The choice of crew is entirely at the discretion of the team
            except that the minimum age of any crew member is 9. For a car team, any person
            licensed to drive on the roads of Zambia is eligible to act as the driver. </p>

          <p>Each team must designate one team member as the navigator
            who will receive the competitor's map and Route Card.</p>

          <p>Except with the written consent of the Secretary to the
            Event, all entries must be in the name of an individual and not a company.
            Commercial entries are not permitted.</p>

          <h6>Car Teams</h6>

          <p>A car team must consist of one vehicle and not less than 2
            and not more than 6 team members including the driver.</p>

          <h6>Motorbike Teams</h6>

          <p>A motorbike team must consist of not less than 3 and not more
            than 4 people and motorbikes, one person per motorbike.</p>

          <h6>Team Numbers</h6>

          <p>Each team will be issued a team number by the Secretary to
            the Event which must be displayed on the car or motorbikes. Teams may request a
            team number but priority will be given to teams who have used a given Team
            Number in previous Elephant Charges.</p>

          <h5>FEES AND SPONSORSHIP PLEDGES</h5>

          <p>The Fuchs Elephant Charge 2017 is run on a not-for-profit
            basis and its purpose is to raise money for Charge Charities.</p>

          <p>An entry fee of K2,500 must be paid by each team. The entry
            fee will be used by the organisers to pay for any event costs not covered by
            event sponsors.</p>

          <p>Teams are required to pledge a minimum of K4,000 sponsorship
            at the time they enter the event. Teams will not be allowed to start the event
            unless their pledged sponsorship has been received. All sponsorship received by
            the event will be paid to the Charge Charities.</p>

          <h5>ADVERTISING</h5>

          <p>While entrants are encouraged to find and advertise their
            own sponsors, they MUST carry on their cars any advertising provided by the
            organisers.</p>

          <h5>INSURANCE</h5>

          <p>Teams will take part entirely at their own risk. The
            arrangement of Personal Accident Insurance, Comprehensive Vehicle Insurance etc
            is the responsibility of the Competitor.</p>

          <h5>RUNNING OF THE EVENT</h5>

          <h6>Registration and Scrutineering</h6>

          <p>All teams must report to registration at the Charge location
            for sign-in, collection of pledges and fitting of GPS Tracking Devices between
            09:00hrs and 12:00hrs on Friday 13th October.</p>

          <p>Each team will be scrutineered, issued with sponsors
            material and fitted with a GPS Tracking Device.</p>

          <p>At scrutineering, vehicles will be checked for the items
            listed under ELIGABILITY AND EQUIPMENT above.</p>

          <p>Scrutineering for bike teams will include a check for
            suitable personal protective equipment for each rider. Each rider should report
            to scrutineering with all their equipment.</p>

          <h6>Driver's Briefing</h6>

          <p>A Driver's Briefing will be held at 16:00hrs on Friday 13th
            October. At the briefing each team will be issued with a course map showing the
            location and giving the coordinates of each of the 10 checkpoints and the HQ.</p>

          <p>Each team will also be given their starting checkpoint by
            random draw and a route card which must be carried on the charge. Depending on
            their starting checkpoint, each team will be informed of their convoy letter
            (A, B, C etc) for the following morning.</p>

          <p>Teams should study the map to decide on their route
            (checkpoints can be completed in any order) and identify the Tsetse-lines and
            Gauntlet.</p>

          <h6>Start</h6>

          <p>On the race day, Saturday 14<sup>th</sup> October, teams
            will proceed to a designated assembly point near HQ by 05:30hrs. At the
            assembly point, teams will gather in their respective starting convoys –
            identified by convoy letter (A, B, C etc). They will then proceed in convoy to
            their Starting checkpoints by following an escort vehicle. Competitors will be
            started by the marshal at their checkpoint at 07:00 prompt.</p>

          <p>Vehicles at each Starting checkpoint will be mass started,
            and teams will then choose their own route within the restrictions given
            elsewhere in the regulations, and may visit checkpoints in any order.</p>

          <h6>Checkpoints</h6>

          <p>Teams must park their vehicles within the marked area at
            each checkpoint. At each checkpoint teams must have their Route Card filled in
            and signed by the Checkpoint Marshal.</p>

          <p>Teams will only be judged to have visited a checkpoint if
            their Route Card is filled in and signed. Teams presenting an incomplete Route
            Card at HQ will be given a result of &quot;Did Not Complete&quot;.</p>

          <p>A bike team will only be judged to have reached a checkpoint
            once the last bike in the team arrives. Bike teams may not leave the checkpoint
            until the last bike has arrived and the Route Card has been completed.</p>

          <p>As a safety precaution, teams are required to declare their
            next intended checkpoint at the start of each leg. This is to enable the organisers
            to keep track of vehicles throughout the day and to monitor the progress of
            each vehicle in order that a search can be immediately called if any vehicle
            becomes unduly delayed on any leg.</p>

          <p>In the interests of safety, the Clerk of the Course may
            instruct a Checkpoint Marshal to hold an entrant who is intending to commence a
            leg which could not possibly be completed before the end of the Charge. This
            decision will be made individually in each case by the Clerk of the Course, and
            their decision will be final.</p>

          <h6>Tsetse-lines</h6>

          <p>There will be two Tsetse-lines on the course. These are legs
            between two checkpoints where a straight line traverse includes particularly
            challenging terrain.</p>

          <p>The Tsetse-lines will be identified during the Driver's
            Briefing.</p>

          <p>Special awards are made (and much respect gained) for the
            team with the shortest distance achieved for each of the two Tsetse-lines.</p>

          <h6>The Gauntlet</h6>

          <p>Three of the checkpoints on the course will together
            comprise the Gauntlet. To finish the course all teams must complete the
            Gauntlet. The Gauntlet checkpoints will be identified in the Driver's Briefing.</p>

          <p>Teams may traverse the Gauntlet by whichever route they
            choose and the Gauntlet checkpoints may be visited in any order but once
            started, teams must complete the Gauntlet before proceeding to any other
            checkpoint.</p>

          <p>The distance travelled through the Gauntlet will be
            multiplied by three when calculating each teams total distance over the course.</p>

          <h6>Finish</h6>

          <p>To finish, each team vehicle must visit every checkpoint –
            in any order - and then return to their starting checkpoint making a complete
            circuit.</p>

          <p>All the bikes and riders in a bike team must complete the
            course for that team to be considered to have finished.</p>

          <p>The Charge finishes at 15:00hrs. Checkpoint Marshalls will
            not endorse Route Cards after this time and teams who have not completed a full
            circuit by this time will be recorded as &quot;Did Not Complete&quot;. All
            teams must report back to HQ as soon as possible after 15:00hrs on race day.</p>

          <p>Teams who do not visit every checkpoint or do not return to
            their Starting checkpoint will be marked &quot;Did Not Complete&quot; in the
            results.</p>

          <p>Each team's course distance (including the multiplied
            distance through the Gauntlet) and time is measured for the complete circuit
            from Starting checkpoint back to Starting checkpoint via all the intermediate
            checkpoints.</p>

          <h6>HQ Check-in</h6>

          <p>Having completed the course each team must return to HQ and
            check-in by:</p>

          Returning their completed Route Card
          Have their GPS Tracking Device downloaded and removed from the vehicle

          <p>Teams who do not report to HQ after coming off the course
            cannot be given a result or placing and will be recorded as &quot;Did Not
            Complete&quot;.</p>

          <p>Failure to check-in at HQ will also trigger a search for
            that vehicle. It is therefore very important that, even in the case of an early
            retirement during the day, teams register with HQ as soon as they can after
            completing the event.</p>

          <h6>Winner</h6>

          <p>The winning team will be the one who completes the course in
            the shortest distance as determined by the Clerk of the Course. The official
            results announced at prize giving are final and no challenge or discussion of
            the results or awards will be entertained.</p>

          <h5>OTHER REGULATIONS</h5>

          <p>For reasons of safety, teams must comply with any
            instructions given by the Clerk of the Course or their representatives.</p>

          <h6>Assistance on the course</h6>

          <p>Teams may not receive any assistance from non-competitors
            except while stopped at checkpoints where teams may only be provided with:</p>

          <ul>
            <li>Fuel</li>
            <li>Tyres</li>
            <li>Food and water</li>
            <li>Assistance from a medical, religious or legal practitioner</li>
          </ul>

          <p>Non-competitors may not assist competitors in any other way.</p>

          <h6>Speed on the course</h6>

          <p>The Elephant Charge is a test of technique and not speed.
            For reasons of safety for competitors and spectators a speed limit of 40km/hr
            is enforced for all vehicles on and around the course. Where evidence from the GPS
            Tracking Device shows any team to have repeatedly exceeded this speed limit
            then they may be disqualified at the discretion of the Clerk of the Course.</p>

          <h6>Conduct on the course</h6>

          <p>There will be Marshalls throughout the course and any
            entrant adjudged to have contravened the rules or the spirit of the event may
            be penalized or disqualified at the discretion of the Clerk of the Course.</p>

          <p>Vehicles may be manhandled across the terrain by any means
            devised by the crew's ingenuity, except that no outside assistance is permitted
            whether it is in mechanical, human or animal form, except that given by another
            competitor.</p>

          <p>The following are examples of what will constitute an
            infringement:-</p>

          <ul>
            <li>External assistance of any sort, other than from another competitor.</li>
            <li>Tampering in any way with the proper operation of the GPS Tracking Device.</li>
            <li>Deliberately blocking the passage of other competing cars or behaving in an unsporting manner.</li>
            <li>The formation of groups of two or more teams as a means of enabling one team to gain competitive advantage.</li>
            <li>Wanton destruction of the environment.</li>
            <li>Damage to crops, building etc.</li>
            <li>The use of radios or mobile phones except in an emergency.</li>
          </ul>

          <p>The Clerk of the Course may
            require a team to pay compensation if they damage any property.</p>

          <h5>CAMPING</h5>

          <p>Everyone attending the Elephant Charge will be camping at
            the site and all competitors, supporters and spectators must bring their own
            camping equipment.</p>

          <p>There will be a site entry fee of K50 per vehicle payable on
            entry. This entry fee will be donated to the local community who are hosting us
            at the site.</p>

          <p>There will be a specific camping area set aside for entrants
            and their teams. All campers MUST TIDY UP their camp before departing, and
            leave the area perfectly clean. Do not leave the bags of rubbish at your
            campsites. Take them with you.</p>

          <h5>AWARDS</h5>

          <h6>Event</h6>

          <p><i>Sausage Tree Trophy</i> for the Most Sponsorship Raised</p>

          <p><i>The Rhino Charge Trophy</i> for the Spirit of the Charge</p>

          <p><i>TJM/Autoworld Treasure-Hunt Trophy</i></p>

          <h6>Vehicles</h6>

          <p><i>KFC Castle-Fleming Trophy</i> for the Shortest Distance</p>

          <p><i>Country Choice Trophy</i> for the Shortest Nett Distance 
            (distance minus 50cm per 1 usd of sponsorship raised)</p>

          <p><i>Silky Cup</i> for the Shortest Distance by a Ladies Team</p>

          <p><i>Sanctuary Trophy</i> for the Shortest Distance on
            Tsetse-line 1</p>

          <p><i>Khal Amazi Trophy</i> for the Shortest Distance on
            Tsetse-line 2</p>

          <p><i>Bowden Trophy</i> for the Shortest Distance on the
            Gauntlet</p>

          <h6>Motorbikes</h6>

          <p><i>Dean Cup</i> for the Shortest Distance</p>

          <p><i>Elli Trophy</i> for the Shortest Nett distance (distance
            minus 50cm per 1 usd of sponsorship raised)</p>

          <p>Shortest distance on Tsetse-line 1</p>

          <p>Shortest distance on Tsetse-line 2</p>

          <p>Shortest distance on Gauntlet</p>


        </div>
      </div>
    </div>
  </div>

</div>
