<div class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4 col-md-2">
        <ul class="foot-nav">
          <li class="foot-nav-head"><a href="/about">About</a></li>
          <li class="foot-nav-item"><a href="/about">About the Elephant Charge</a></li>
          <li class="foot-nav-item"><a href="/beneficiaries">Beneficiaries</a></li>
          <li class="foot-nav-item"><a href="/rules">Rules and Regulations</a></li>
        </ul>
      </div>
      <div class="col-xs-4 col-md-2">
        <ul class="foot-nav">
          <li class="foot-nav-head"><a href="/charge">Results</a></li>
          <li class="foot-nav-item"><a href="/charge">Charges</a></li>
          <li class="foot-nav-item"><a href="/teams">All Teams</a></li>
          <li class="foot-nav-item"><a href="/cars">Cars</a></li>
          <li class="foot-nav-item"><a href="/awards">Awards</a></li>
        </ul>
      </div>
      <div class="col-xs-4 col-md-2">
        <ul class="foot-nav">
          <li class="foot-nav-head"><a href="/2017/teams">Teams 2017</a></li>
          <li class="foot-nav-head"><a href="/newsletters">Newsletters</a></li>
          <li class="foot-nav-head"><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="copyright">&copy; 2017 Elephant Charge</div>
      </div>
    </div>
  </div>




</div>