<div class="navbar navbar-dark bg-primary footer">
  <div>
    <div>
      <table>
        <tr>
          <td>
            <div style="text-size:1.5rem;padding:10px;padding-bottom:2px;border-bottom-color: #EEEEEE;border-bottom-width: 1px; border-bottom-style: solid">
              TELEPHONE
            </div>
            <div style="padding:10px;">+26 0977 720 696</div>
          </td>
          <td>
            <div style="padding:10px;"></div>
          </td>
          <td>
            <div style="text-size:2rem;padding:10px;padding-bottom:2px;border-bottom-color: #EEEEEE;border-bottom-width: 1px; border-bottom-style: solid">
              EMAIL
            </div>
            <div style="padding:10px;">
              <a href="mailto:info@elephantcharge.org" style="color:white;">info@elephantcharge.org</a></div>
          </td>
        </tr>
      </table>
    </div>

  </div>

  <div style="float:left">&copy; 2016 Elephant Charge</div>
  <div style="float:right">
    <a class="wsite-social-item wsite-social-instagram" href="//instagram.com/elephant.charge.zambia" target="_blank"><span class="wsite-social-item-inner"></span></a>
    <a class="wsite-social-item wsite-social-twitter" href="//twitter.com/elephantcharge1" target="_blank"><span class="wsite-social-item-inner"></span></a>
    <a class="wsite-social-item wsite-social-facebook" href="//facebook.com/ElephantCharge" target="_blank"><span class="wsite-social-item-inner"></span></a>

  </div>
</div>