<div class="hidden-sm-down" id="track">
  <img src="<%= image_path('furniture/track3.png')%>">
</div>
<div class="hidden-sm-down" id="dates-larger">12 Years<br/>2008 - 2019</div>

<div class="header-row">
  <div class="logo-container">
    <a href="/"><div class="logo"></div></a>
          <div class="tagline">Dust, sweat & gears</div>
  </div>
  <div class="banner-navbar-container">
    <div class="banner-container">
      <div class="banner-title">
        ELEPHANT CHARGE
      </div>
      <div class="banner-subtitle" style="">
        Fundraising for wildlife conservation in Zambia
      </div>
    </div>

  </div>
</div>

